<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qukuailian.dao.PaperMapper">
  <resultMap id="BaseResultMap" type="com.example.qukuailian.bean.Paper">
    <id column="paper_id" jdbcType="VARCHAR" property="paperId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    paper_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paperkey
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from paperkey
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.qukuailian.bean.Paper">
    insert into paperkey (paper_id, user_id)
    values (#{paperId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.qukuailian.bean.Paper">
    insert into paperkey
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.qukuailian.bean.Paper">
    update paperkey
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.qukuailian.bean.Paper">
    update paperkey
    set user_id = #{userId,jdbcType=VARCHAR}
    where paper_id = #{paperId,jdbcType=VARCHAR}
  </update>
</mapper>