<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qukuailian.dao.PaperMapper">
  <resultMap id="BaseResultMap" type="com.example.qukuailian.bean.Paper">
    <id column="txid" jdbcType="VARCHAR" property="txid" />
    <result column="paperNumber" jdbcType="VARCHAR" property="papernumber" />
    <result column="buyer" jdbcType="VARCHAR" property="buyer" />
  </resultMap>
  <sql id="Base_Column_List">
    txid, paperNumber, buyer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paperkey
    where txid = #{txid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from paperkey
    where txid = #{txid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.qukuailian.bean.Paper">
    insert into paperkey (txid, paperNumber, buyer
      )
    values (#{txid,jdbcType=VARCHAR}, #{papernumber,jdbcType=VARCHAR}, #{buyer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.qukuailian.bean.Paper">
    insert into paperkey
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        txid,
      </if>
      <if test="papernumber != null">
        paperNumber,
      </if>
      <if test="buyer != null">
        buyer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        #{txid,jdbcType=VARCHAR},
      </if>
      <if test="papernumber != null">
        #{papernumber,jdbcType=VARCHAR},
      </if>
      <if test="buyer != null">
        #{buyer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.qukuailian.bean.Paper">
    update paperkey
    <set>
      <if test="papernumber != null">
        paperNumber = #{papernumber,jdbcType=VARCHAR},
      </if>
      <if test="buyer != null">
        buyer = #{buyer,jdbcType=VARCHAR},
      </if>
    </set>
    where txid = #{txid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.qukuailian.bean.Paper">
    update paperkey
    set paperNumber = #{papernumber,jdbcType=VARCHAR},
      buyer = #{buyer,jdbcType=VARCHAR}
    where txid = #{txid,jdbcType=VARCHAR}
  </update>
</mapper>